@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to styles/globals.css */
/* .neon-text {
  text-shadow: 0 0 10px #0f0, 0 0 20px #0f0, 0 0 30px #0f0;
} */
footer a:hover {
  color: #00f2ff;
  text-shadow: 0 0 10px #00f2ff;
}
/* src/app/globals.css */
.bg-repeat {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJUlEQVR4AWP4//8/A+U2BIL///9n+AdEAgSAdgD6/x8IBAT2B0gGAKPUCuUAAAAASUVORK5CYII=');
  background-size: 10px 10px;
}
/* src/app/globals.css */
/* src/app/globals.css */
/* .bg-repeat {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJUlEQVR4AWP4//8/A+U2BIL///9n+AdEAgSAdgD6/x8IBAT2B0gGAKPUCuUAAAAASUVORK5CYII=');
  background-size: 10px 10px;
} */